@model IEnumerable<eval.Domain.Match>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Opponent
            </th>
            <th>
                Time control
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opening)
            </th>
            <th>
                Reason for loss or draw
            </th>
            <th>
                Site for match
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <span>No items found</span>
        }
        else
        {
            @foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpponentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeControl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opening)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonForLoss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteForMatch)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
            }
        }
    </tbody>
</table>
